<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="metadataBehavior" name="Service.CalculatorService">
        <endpoint binding="wsHttpBinding" name="CalculatorServicePoint" contract="Service.Interface.ICalculator" />
      </service>
    </services>
  </system.serviceModel>
</configuration>